:root {
  --transition: 0.3s ease-in-out all;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  ---shadow-5: 0px 0px 4px rgba(29, 29, 44, 0.18);
  ---shadow-6: 2px 10px 0px 2px rgba(0, 0, 0, 0.3);

  --shadow-7: 0px -25px 25px rgba(0, 0, 0, 0.05),
    0px 25px 25px rgba(0, 0, 0, 0.05);
  --shadow-8: 9px 0px 16px 0px rgba(0, 0, 0, 0.06);
  --shadow-9: 0px 0px 4px 0px rgba(29, 29, 44, 0.18);
}
.MuiAvatar-img {
  background-color: #f1f0f5;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

.react-pdf__Document {
  direction: ltr;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: black;
  -webkit-box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.react-datepicker-popper {
  position: fixed !important;
  z-index: 9999;
}

.react-datepicker {
  display: inline-block;
  font-family: 'LexendRegular', sans-serif;
}

.date-picker-style {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.react-datepicker__header {
  background-color: white;
  border-bottom: none;
  margin-top: 5px;
}

.react-datepicker__current-month,
.react-datepicker-time__header,
.react-datepicker-year-header {
  display: none;
}

.react-datepicker__navigation-icon {
  display: none;
}

.react-datepicker .react-datepicker__navigation--next {
  margin-top: 10px;
  margin-right: 7px;
  /* content: url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_Icon.svg); */
  content: url(../images/svg/arrowSquareRight.svg);
}

.react-datepicker .react-datepicker__navigation--previous {
  /* content: url(https://upload.wikimedia.org/wikipedia/commons/e/e6/Home_Icon.svg); */
  content: url(../images/svg/arrowSquareLeft.svg);
  margin-top: 10px;
  margin-left: 7px;
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--in-selecting-range:hover,
.react-datepicker__day--in-range:hover,
.react-datepicker__month-text--selected:hover,
.react-datepicker__month-text--in-selecting-range:hover,
.react-datepicker__month-text--in-range:hover,
.react-datepicker__quarter-text--selected:hover,
.react-datepicker__quarter-text--in-selecting-range:hover,
.react-datepicker__quarter-text--in-range:hover,
.react-datepicker__year-text--selected:hover,
.react-datepicker__year-text--in-selecting-range:hover,
.react-datepicker__year-text--in-range:hover {
  background-color: #00c749;
  color: #030000;
}
.react-datepicker__day--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__month-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__quarter-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ),
.react-datepicker__year-text--in-selecting-range:not(
    .react-datepicker__day--in-range,
    .react-datepicker__month-text--in-range,
    .react-datepicker__quarter-text--in-range,
    .react-datepicker__year-text--in-range
  ) {
  background-color: #35c937;
}

.react-datepicker__month-select,
.react-datepicker__year-select {
  font-family: 'LexendRegular', sans-serif;
  border: none;
  text-align: center;
  border-bottom: 1px solid black;
}

.react-datepicker__day-names {
  margin-top: 20px;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
}

.react-datepicker__header__dropdown,
.react-datepicker__header__dropdown--select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.react-datepicker__year-dropdown-container,
.react-datepicker__year-dropdown-container--select {
  margin: 0;
}

.react-datepicker__month-dropdown-container,
.react-datepicker__month-dropdown-container--select {
  margin-left: 0;
  margin-right: 0.5;
}

.react-datepicker__day--selected,
.react-datepicker__day--range-start,
.react-datepicker__day--in-range,
.react-datepicker__day--selected:hover,
.react-datepicker__day--selecting-range-start,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--selecting-range-end {
  color: white;
}

.react-beautiful-dnd-draggable {
  transition: none !important;
}

.react-beautiful-dnd-draggable.dragging {
  pointer-events: none;
}

.react-beautiful-dnd-draggable.dragging * {
  pointer-events: none;
}

.react-beautiful-dnd-droppable > *:not(.react-beautiful-dnd-dragging) {
  transition: transform 0.2s ease-in-out;
}

.virtuoso-grouped > div {
  position: static !important;
}

.virtuoso-grouped > div > div {
  margin-top: -35px !important;
}
