/* JobsCard.css */
.job-card {
    width: 100%; /* Default width */
  }
  
  @media (min-width: 768px) {
    .job-card {
      width: calc(33.33% - 20px); /* Three columns layout for screens wider than 768px */
    }
  }
  
  @media (min-width: 1024px) {
    .job-card {
      width: calc(25% - 20px); /* Four columns layout for screens wider than 1024px */
    }
  }
  

.grid-container {
    display: grid;
    gap: 40px;
}










@media (min-width: 300px) and (max-width: 768px) {
    .grid-container {

        max-width: 450px;
    }
  }

  
@media (min-width: 590px) {
    .grid-container {
      grid-template-columns: repeat(1, 1fr); 
    }
}

@media (min-width: 768px) {
    .grid-container {
      
      grid-template-columns: repeat(2, 1fr); 
    }
  }
  
  @media (min-width: 1024px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr); 
    }
  }
  
  /* @media (min-width: 1440px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr); 
    }
  } */