@font-face {
  font-family: 'LexendThin';
  src: url('./LexendFont/Lexend-ExtraBold.ttf') format('truetype');
}

@font-face {
    font-family: 'LexendLight';
    src: url('./LexendFont/Lexend-Light.ttf') format('truetype');
}
  
@font-face {
    font-family: 'LexendRegular';
    src: url('./LexendFont/Lexend-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'LexendMedium';
    src: url('./LexendFont/Lexend-Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'LexendSemiBold';
    src: url('./LexendFont/Lexend-SemiBold.ttf') format('truetype');
}
  
@font-face {
    font-family: 'LexendBold';
    src: url('./LexendFont/Lexend-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'LexendExtraBold';
    src: url('./LexendFont/Lexend-ExtraBold.ttf') format('truetype');
}
  
    
  